@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
  /* background: #1C2327 */
}
/* styles.css */

.animation-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: moveUp 1s ease-out forwards;
  font-size: 30px;
  color: rgb(218, 207, 207);
  font-weight: 700;
  display: flex;
}

@keyframes moveUp {
  100% {
    bottom: 400px; /* Adjust this value as needed */
    opacity: 0.8;
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    gap: 10px;
  }

}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@keyframes zoomInAndOut {
  0% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.02); /* Zoom in */
  }
  100% {
    transform: scale(1); /* Back to normal size */
  }
}

.zoom-animation {
  animation: zoomInAndOut 500ms ease-in-out; /* 1s for the duration, can be adjusted */
}

@keyframes moveToTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px); /* Adjust the value based on how far up you want the image to move */
    opacity: 0;
  }
}

.animation-wolf {
  animation: moveToTop 0.6s ease forwards; /* Adjust timing to match the animation duration */
}
